// neutral colors
$neutrals-50: #F0F4F8;
$neutrals-100: #D9E2EC;
$neutrals-200: #BCCCDC;
$neutrals-300: #9FB3C8;
$neutrals-400: #829AB1;
$neutrals-500: #627D98;
$neutrals-600: #486581;
$neutrals-700: #334E68;
$neutrals-800: #243B53;
$neutrals-900: #102A43;


// primary colors
$primary-color-50: #E0FCFF;
$primary-color-100: #BEF8FD;
$primary-color-200: #87EAF2;
$primary-color-300: #54D1DB;
$primary-color-400: #38BEC9;
$primary-color-500: #2CB1BC;
$primary-color-600: #14919B;
$primary-color-700: #0E7C86;
$primary-color-800: #0A6C74;
$primary-color-900: #044E54;



